{% load static i18n %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'tour/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" href="{% static 'tour/fonts/icomoon/style.css' %}">
	<link rel="stylesheet" href="{% static 'tour/fonts/flaticon/font/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/daterangepicker.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/style.css' %}">

	<title>{% block title %}Smart Travel Solutions Travel Agency{% endblock %}</title>
</head>

<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

    {% include "new/navigation.html" %}

	{% block content %}
	{% endblock %}

	<div class="site-footer">
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">About CT TRAVEL</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="widget">
							<ul class="list-unstyled social">
								<li><a href="#"><span class="icon-twitter"></span></a></li>
								<li><a href="#"><span class="icon-instagram"></span></a></li>
								<li><a href="#"><span class="icon-facebook"></span></a></li>
								<li><a href="#"><span class="icon-linkedin"></span></a></li>
								<li><a href="#"><span class="icon-dribbble"></span></a></li>
								<li><a href="#"><span class="icon-pinterest"></span></a></li>
								<li><a href="#"><span class="icon-apple"></span></a></li>
								<li><a href="#"><span class="icon-google"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 pl-lg-5">
						<div class="widget">
							<h3 class="heading">Pages</h3>
							<ul class="links list-unstyled">
								<li><a href="#">Blog</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="widget">
							<h3 class="heading">Resources</h3>
							<ul class="links list-unstyled">
								<li><a href="#">Blog</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">Contact</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="#">mail@example.com</a></li>
								<li class="phone"><a href="#">+906754634543</a></li>
								<li class="address"><a href="#"> Talatpaşa, Pazaryolu Cd. No:14, 34513 Esenyurt/İstanbul, Türkiye</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<script src="{% static 'tour/js/jquery-3.4.1.min.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>	
	<script src="{% static 'tour/js/popper.min.js' %}"></script>
	<script src="{% static 'tour/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'tour/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'tour/js/jquery.animateNumber.min.js' %}"></script>
	<script src="{% static 'tour/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'tour/js/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'tour/js/aos.js' %}"></script>
	<script src="{% static 'tour/js/moment.min.js' %}"></script>
	<script src="{% static 'tour/js/daterangepicker.js' %}"></script>
	<script src="{% static 'tour/js/typed.js' %}"></script>
	<script>
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["San Francisco."," Paris."," New Zealand.", " Maui.", " London."],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})
	</script>


	<script src="{% static 'tour/js/custom.js' %}"></script>

</body>
</html>
